---
layout: default
title: resume
---

<link href="/css/resume.css" rel="stylesheet">
<script src="/js/resume.js"></script>
{% assign data = site.data.resume %}
<div id="home" data-target="#sidebar-parent">
  <h1>Resume</h1>
  <div id="resume" class="main col-md-8">
    <div id="about" class="collapse in">
      <h2><i class="fa fa-user left"></i> ABOUT </h2>
      <p>{{ data.basics.summary }} </p>
    </div>

    <div id="work" class="collapse in">
      <h2><i class="fa fa-suitcase left"> </i> WORK EXPERIENCE </h2>
      <div class="job">
      {% for job in data.work %}
        <h3>{{ job.position }}, {{ job.company }}</h3>
        <h4>
          {% if job.endDate %}
          {{ job.startDate | date: "%B, %Y" }} - {{ job.endDate | date: "%B, %Y"}}
          {% else %}
          <span class="label label-success" style="font-size: small">Current</span>
          {% endif %}
        </h4>
        <p>{{ job.summary }}</p>
        <h4>HIGHLIGHTS</h4>
        <ul>
          {% for highlight in job.highlights %}
          <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      </div>
    </div>

    {% if data.volunteer %}
    <div id="volunteer" class="collapse in">
      <h2><i class="fa fa-child left"></i> VOLUNTEER WORK </h2>
      {% for job in data.volunteer %}
      <h3>{{ job.position }}, {{job.organization }}</h3>
      <h4>{{ job.startDate | date: "%B, %Y"}} - {{ job.endDate | date: "%B, %Y"}}</h4>
      <p>{{ job.summary }} <br><a href="{{ job.website }}" target="_blank">{{ job.website }}</a></p>
      <h4>HIGHLIGHTS</h4>
      <ul>
        {% for highlight in job.highlights %}
        <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.skills %}
    <div id="skills" class="collapse in">
      <h2><i class="fa fa-tasks left"></i> SKILLS </h2>
      {% for skill in data.skills %}
      <h3 class="skills">{{ skill.name }}</h3>
      <span class="label label-default" style="font-size: small">{{ skill.level }}</span></br>
      {% for keyword in skill.keywords %}
      <span class="keywords label label-danger" style="font-size: small">{{ keyword }}</span>
      {% endfor %}
      {% endfor %}
    </div><br>
    {% endif %}

    {% if data.education %}
    <div id="education" class="collapse in">
      <h2><i class="fa fa-graduation-cap left"></i> EDUCATION </h2>
      {% for edu in data.education %}
      <h3>{{ edu.studyType }}, {{ edu.area }} - {{ edu.institution }}
        <a class="collapsed pull-right" data-toggle="collapse"
          data-target="#courses-list-{{ edu.studyType }}">
          <span class="fa fa-angle-down"></span>
      </a>
      </h3>
      <h4>
        {% if edu.endDate %}
        {{ edu.startDate | date: "%B, %Y"}} - {{ edu.endDate | date: "%B, %Y"}}<br>
        {% else %}
        <span class="label label-warning" style="font-size: small">Current</span>
        {% endif %}
        {% if edu.gpa %}GPA: {{ edu.gpa }}{% endif %}
      </h4>
      <h4>
        COURSES
      </h4>
      <div id="courses-list-{{ edu.studyType }}" class="collapse">
        {% for course in edu.courses %}
        <span class="label label-default courses" style="font-color: "white"">
          <a href="{{ course.url }}">{{ course.name }}</a>
        </span>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.awards %}
    <div id="awards" class="collapse in">
      <h2><i class="fa fa-trophy left"></i> AWARDS </h2>
      {% for award in data.awards %}
      <h3>{{ award.title }} - {{ award.awarder }}</h3>
      <h4>{{ award.Date | date: "%B, %Y"}}</h4>
      <p>{{ award.summary }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.publications %}
    <div id="publications" class="collapse in">
      <h2><i class="fa fa-book left"></i> PUBLICATIONS </h2>
      {% for pub in data.publications %}
      <h3>{{ pub.title }}</h3>
      <h4>{{ pub.releaseDate | date: "%B %d - %Y"}}</h4>
      <p>{{ pub.summary }}<br><a href="{{ pub.website }}" target="_blank">{{ pub.website }}</a></p>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.interests %}
    <div id="interests" class="collapse in">
      <h2> <i class="fa fa-star left"></i> INTERESTS </h2>
      {% for int in data.interests %}
      <h3 class="skills">{{ int.name }}</h3>
      {% for key in int.keywords %}
      <span class="keywords label label-info" style="font-size: small">{{ key }}</span>
      {% endfor %}
      {% endfor %}
    </div>
    {% endif %}

    {% if data.languages %}
    <div id="languages" class="collapse in">
      <h2><i class="fa fa-language left"></i> LANGUAGES </h2>
      {% for lang in data.languages %}
      <h3>{{ lang.language }}</h3>
      <h4>
        Fluency: {{ lang.fluency }}
        {% for i in (1..lang.level) %}
        <span class="fa fa-star pull-right"></span>
        {% endfor %}
        {% for i in (lang.level..4) %}
        <span class="fa fa-star-o pull-right"></span>
        {% endfor %}
      </h4>
      {% endfor %}
    </div>
    {% endif %}

    {% if data.references %}
    <div id="references">
      <h2><i class="fa fa-thumbs-up left"></i> REFERENCES</h2>
      {% for ref in data.references %}
      <blockquote>
        {{ ref.reference }}
        <div class="name"><br>- {{ ref.name }}</div>
      </blockquote><br>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <!--Nav Bar -->
  <div>
    <nav id="sidebar-parent" class="col-sm-1 sidebar">
      <ul id="sidebar" class="nav nav-stacked fixed">

        <li class="active"><a href="#about">About</a></li>

        <li><a href="#work">Work Experience</a></li>

        {% if site.data.resume.volunteer %}
        <li><a href="#volunteer">Volunteer work</a></li>
        {% endif %}

        {% if site.data.resume.skills %}
        <li><a href="#skills">Skills</a></li>
        {% endif %}

        {% if site.data.resume.education %}
        <li><a href="#education">Education</a></li>
        {% endif %}

        {% if site.data.resume.interests %}
        <li><a href="#interests">Interests</a></li>
        {% endif %}

        {% if site.data.resume.languages %}
        <li><a href="#languages">Languages</a></li>
        {% endif %}

        {% if site.data.resume.references %}
        <li><a href="#references">References</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
